/* mdファイルの h1タグ等を管理する */
@import "tailwindcss";

.prose {
  --tw-prose-headings: #111;
  --tw-prose-links: #0070f3;
  --tw-prose-bold: #000;
}

.prose h1 {
  @apply text-4xl font-bold border-b-4 border-indigo-500 pb-2 mb-6;
}

.prose h2 {
  @apply text-2xl font-bold border-l-4 border-indigo-400 pl-3 mt-10 mb-4;
}

.prose pre code {
  border: 2px solid #777;
}
