@import "tailwindcss";

/* 全体のスクロールバー */
::-webkit-scrollbar {
  width: 0.6em;
  height: 8px;
}

/* スクロールバーの軌道部分 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* スクロールバー */
::-webkit-scrollbar-thumb {
  background: #ff8624;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b65608;
  border-radius: 10px;
}
