@import "tailwindcss";

/* 全体のスクロールバー */
::-webkit-scrollbar {
  width: 0.6em;
  height: 8px;
}

/* スクロールバーの軌道部分 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* スクロールバーのつまみ部分 */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #22d3ee, #24f8ff);
  border-radius: 10px;
}

/* つまみに hover したとき */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0ee995, #7ad6bf);
  border-radius: 10px;
}
